body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #FFDEB8;
    font-family: Verdana, sans-serif;
    color: #6B4112;
    justify-content: center;
    align-items: center;
}

#header {
    align-items: center;
}

h1 {
    font-family: "Cooper Black", sans-serif;
    color: whitesmoke;
    text-shadow: -2px 2px lightblue;
    font-size: 3em;
}

p {
    font-family: "Cooper Black", sans-serif;
    font-weight: bolder;
    color: #6B4112;
    font-size: 1em;
}

button {
    background-color: lightgray;
    size: 1em;
}

button:hover {
    background-color: whitesmoke;
}